<!DOCTYPE html>
<html lang="en">
<head>
    <title>TV Shows</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <base href="/shows/">

    <div id="wrapper">
            <h1>All Shows</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}
                    <tr>
                        <td>{{show.id}}</td>
                        <td>{{show.title}}</td>
                        <td>{{show.network}}</td>
                        <td>{{show.release_date}}</td>
                        <td>
                            <a href="{{show.id}}">Show</a>
                            <span> | </span>
                            <a href="{{show.id}}/edit">Edit</a>
                            <span> | </span>
                            <a href="{{show.id}}/destroy">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="new"><h4>Add a New Show</h4></a>

    </div>

</body>
</html>