<!DOCTYPE html>
<html lang="en">
<head>
    <title>Favorite Books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>Welcome, {{current_user.first_name}}</h2>
            <a href="/books">Return to Books</a>
            <a href="/logout">Log Out</a>
        </div>

        <form id="book-info" class="info-box" action="" method="POST">
            {% csrf_token %}
            {% if uploaded_by_user %}
                <input required id="title" class="edit-title" type="text" name="title" value="{{book.title}}">
                <div class="error_row"></div>
            {% else %}
                <h3>{{book.title}}</h3>
            {% endif %}
            <div class="db-info">
                <p>Added by: {{book.uploaded_by_id.get_full_name}}</p>
                <p>Added on: {{book.created_at}}</p>
                <p>Last updated on: {{book.updated_at}}</p>
            </div>
            {% if uploaded_by_user %}
                <textarea name="desc" id="desc" cols="32" rows="10">{{book.desc}}</textarea>
                <div class="error_row"></div>
                <input class="submit-button" type="submit" value="Update">
                <button class="submit-button delete">Delete</button>
            {% else %}
                <i>{{book.desc}}</i>
            {% endif %}
        </form>

        <div id="users-who-like" class="info-box">
            <h4>Users Who Like This Book:</h4>
            <ul>
                {% for user in book.favorites.all %}
                    <li>
                        {{user.get_full_name}}
                    </li>
                {% endfor %}
            </ul>

            {% if is_favorite %}
                <a href="/books/{{book.id}}/favorites/remove"><img class="favorite-status" src="{% static 'img/favorite.png' %}" alt="Favorited"></a>               
            {% else %}
                <a href="/books/{{book.id}}/favorites/add"><img class="favorite-status" src="{% static 'img/unfavorite.png' %}" alt="Not Favorited"></a>            
            {% endif %}

        </div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

</body>
</html>