#wrapper{
    background-color: lightblue;
    font-family: sans-serif;
    padding: 20px;
    width: 800px;
}
#header{
    border-bottom: 3px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#registration, #login{
    display: inline-block;
    vertical-align: top;
}
#post_message{
    margin-bottom: 20px;
}
#messages_list{
    width: 100%;
}
.message{
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    width: 45%;
    margin-bottom: 10px;
    padding: 20px;
}
.comment{
    margin-left: 30px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(190, 200, 211);
    font-size: 12px;
}
    .comment p{
        font-style: italic;
    }
.comment-field input[type="text"]{
    width: 75%;
}

.green-text{
    color: green;
}

.error_row{
    height: 22px;
}
.error{
    color: red;
    font-size: 12px;
}
.submit-button{
    box-shadow: 5px 5px 0px black;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    margin-top: 10px;
}

.blue{
    background-color: blue;
    color: white;
}
.green{
    background-color: green;
    color: white;
}

form{
    width: 285px;

}
    form h1, h2{
        width: 100%;
        text-align: center;
    }
    input{
        border-radius: 5px;
    }

    input[type="submit"]{
        margin-left: 45%;
    }