<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login & Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <h3>Success! Welcome, {{current_user.first_name}}</h3>
        <p class="green">Successfully {{request.session.status}}</p>

        <a id="logout" href="/logout">Log Out</a>
    </div>
</body>
</html>